.productcard {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--foreground);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    text-decoration: none;
    height: 100%;
}

.productcard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.imagecontainer {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.imagecontainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productcontent {
    text-decoration: none !important;
    color: #1f2937 !important;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.producttitleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartIcon {
    font-size: 2rem;
    color: #4b5563;
    cursor: pointer;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.cartIcon:hover {
    color: #1f2937;
    transform: scale(1.1);
}

.producttitle {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
    color: #1f2937;
}

.productprice {
    font-size: 0.9rem;
    color: #4b5563;
    margin-top: auto;
}

@media (max-width: 768px) {
    .productcard {
        flex-direction: row;
    }
}